<h1>Hello there you are in the bookmarks page</h1>

<form action="/bookmarks/new" method="post">
  <input type="text" placeholder="enter title" name="title" />
  <input type="text" placeholder="enter URL" name="url" />
  <input type="submit" value="Submit" />
</form>

<ul><%@bookmarks.each do |bookmark|%>
    <li>
        <table>
        <a href="<%=bookmark.url%>"><%=bookmark.title%></a>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="submit" value="delete" />
        </form>
        <form action="/bookmarks/<%= bookmark.id %>/edit">
          <input type="submit" value="edit" />
        </form>
        <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
          <input type="submit" value="add comment" />
        </form>
        <ul>
          <% bookmark.comments.each do |comment| %>
            <li><%= comment.text %></li>
          <% end %>
        </ul>
        </table>
    </li>
    <%end%>
</ul>

<p>
  <%= flash[:notice] %>
</p>
